/* Estilos para el contenedor del banner */
* {
    margin: 0;
    padding: 0;
}

.banner-container {
    margin-top: 55px;
    width: 100%;
    height: 800px;
    /* Altura de 600 píxeles */
    overflow: hidden;
    /* Esconde las partes fuera del área visible */
}



.banner {
    width: 100%;
    /* Ajusta el ancho del contenedor según sea necesario */
    height: 100%;
    /* Asegura que tome todo el espacio disponible */
    overflow: hidden;
    display: flex;
    justify-content: center;
    /* Centra el contenido horizontalmente */
    align-items: center;
    /* Centra el contenido verticalmente */
    position: relative;
    /* Permite posicionar elementos internamente si es necesario */
}

#video-promosunrise {
    margin-top: 30px;
    width: 100%;
    /* El video tomará el ancho completo del contenedor */
    height: 100%;
    /* El video tomará la altura completa del contenedor */
    object-fit: cover;
    /* Asegura que el video se ajuste al contenedor, cortando si es necesario */
    overflow: hidden;
    /* Evita que partes del video sobresalgan */
}




/* Estilos generales para la sección de proyectos */
.proyectos-section {
    width: 80%;
    margin: 40px auto;

    /* Centra la sección y agrega un margen superior */
}

/* Estilo del título "Proyectos" */
.proyectos-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
    font-weight: 500;
}

/* Contenedor de la grid */
.proyecto-grid {
    display: grid;
    grid-template-columns: 1fr;
    /* Dos columnas: una para la descripción y otra para la imagen */
    gap: 20px;
}

/* Estilo para cada item de proyecto */
.proyecto-item {
    display: flex;
    justify-content: space-between;
    /* Separa la descripción de la imagen */
    align-items: center;
    justify-content: center;
    align-items: center;
}

/* grid de la pagina */
.proyecto-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    height: 500px;
    width: 80%;
    margin: 0 auto;
}

/* Imagen del proyecto */

.proyecto-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.div-logosunrise {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Logo-Sunrise {
    width: 300px;
    height: auto;
    margin-bottom: 15px;
}

.proyectos-text {
    text-align: justify;
    line-height: 1.1;
    margin-bottom: 10px;
}

.tipoinmueble {
    margin-top: 5px;
}

.ubicacion-in {
    margin-top: 5px;
}

.proyecto-description-proyecto1 {
    display: block;

    margin-top: 10px;
    gap: 10px;

}

.proyecto-description-proyecto1 button {
    margin-bottom: 10px;
    /* Espaciado adicional debajo de cada botón */
}