.Nav-back {
    background-color: #2f653a;
}

.ctn {
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr;
    width: 90%;
    margin: 0 auto;
}

#ctn-links {
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;

}

.navbar-links ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar-links li {
    margin: 0 15px;

}

.navbar-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 8px;
}

.navbar-links a:hover {
    font-weight: bold;
    font-size: 1em;
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
    /* Sombra iluminada */
    /* Suaviza la transición */
}

.logohome:hover {
    /* //Sombra iluminada (desplazamiento en x, desplazamiento en y, grosor de la sombra, color) */
    filter: drop-shadow(2px 2px 5px rgba(255, 255, 255, 0.8));
}

#ctn-logo {
    display: flex;

    align-items: center;
    justify-content: center;
}

.logohome {

    width: 220px;
    height: auto;
}

.hamburger {
    display: none;
}

@media (max-width: 850px) {
    .navbar-links ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
        margin: 0;
    }


    .ctn {
        border-radius: 15px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        margin: 0 auto;
        padding: 15px;

    }

    .ctn-logo {
        order: -1;
    }

    #ctn-links {
        padding: 0;
    }

    #ctn-links li {
        margin: 5px;
    }

    .navbar-links {
        display: none;
    }

    .navbar-links.active {
        display: flex;

        /* Mostramos el menú cuando está activo */
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        order: -1;
        padding: 10px;

    }

    .hamburger .bar {
        display: block;
        width: 25px;
        height: 3px;
        background-color: #ffffff;
        margin: 2px;
        justify-content: center;
    }

}