.Contenedor-First {
    color: black;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, minmax(600px, auto));
    min-width: 85%;
    justify-content: center;
    align-items: center;
}

.hero {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 600px;
    overflow: hidden;
}

.container-hero img {
    width: 90%;
    height: auto;

}

.container-hero h3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    text-align: center;
    margin: 5px auto;
    color: white;
    font-weight: 400;

}

.hero> :first-child {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 550px;
}

#video-herocontent {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* Ajusta el video al contenedor sin cortarlo */
}

.hero> :nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    height: 330px;
    width: 330px;
    margin-left: 130px;
    margin-top: 80px;
    background-color: rgba(0, 0, 0, 0.384);
}

.segunda-fila,
.tercera-fila {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 540px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.Img-filados,
.bento-section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    object-fit: contain;
}

.bento-section {
    width: 630px;
}

.Img-filados img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
    max-height: 430px;
    margin-right: 20px;
}

.info-section,
.Contenido-ultimafila {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.Contenido-ultimafila {
    margin-right: 100px;
}

.info-section h1,
.Contenido-ultimafila h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 35px;
    margin: 15px auto;
}

.info-section h2,
.parrafo-ultimafila {
    font-family: 'Quicksand', sans-serif;
    font-size: 23px;
    text-align: center;
    margin: 15px auto;



}

@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
        /* Se mueve hacia arriba */
    }

    100% {
        transform: translateY(0);
        /* Vuelve a su posición original */
    }
}

.info-section p,
.Contenido-ultimafila p {
    font-family: 'Quicksand', sans-serif;
    font-size: 22px;
    text-align: center;
    margin: 15px auto;
    color: #3e5a80;
    font-weight: 500;
    animation: moveUpDown 1s ease-in-out infinite;
    /* Aplica la animación */
}