.body_contenido_nosotros {
    display: grid;
    justify-content: center;
    width: 100%;
    min-height: 800px;
    /* Cambié height a min-height */
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    margin-top: 50px;
    gap: 15px;
    overflow: hidden;
    font-family: "quicksand", sans-serif;

}

.fotpersonacontruye {
    object-fit: contain;
    width: 100%;
    height: 110%;


}


.introductorio {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
    /* Contexto para los elementos hijos */
}

.introductorio img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.divcentral {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 30%);
    width: 800px;
    height: 500px;
    background-color: rgb(232, 232, 232);
    display: grid;
}

.organizacion {
    display: grid;
    grid-template-columns: 60% 50%;
    grid-template-rows: 1fr;
    height: 500px;
}

.organizacion div {
    height: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;


}

.texto_sobre_empresa {
    display: block;
    width: 80%;
    font-size: 23px;
    text-align: justify;


}

.imagen {
    display: block;
    justify-content: center;
    align-items: center;
}

.fotpersona {
    object-fit: cover;
    width: 100%;
    height: 500px;

}

.elegirnos {
    width: 80%;
    /* Ajusta según sea necesario */
    display: flex;
    height: auto;
    /* O ajusta a un tamaño específico si el contenido no determina su altura */
    justify-content: center;
    /* Centra horizontalmente los hijos */
    align-items: center;
    /* Centra verticalmente los hijos */
    margin: 0 auto;
}

.organizacionfilatres {
    margin-top: 390px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.porque_elergirnos {
    width: 90%;
    text-align: justify;
    display: block;
    margin: 0 auto;

}

.porque_elergirnos h1 {
    text-align: center;
    font-size: 38px;
    margin: 15px auto;
    color: #3e5a80;


}

.porque_elergirnos h3 {
    font-size: 24px;


}

.porque_elergirnos p {

    font-size: 20px;
    margin-bottom: 15px;



}

.mision_vision {
    width: 80%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.fotpersonacontruye {
    object-fit: cover;
    width: 95%;
    height: auto;
}

.mision_vision div {
    background-color: rgb(232, 232, 232);
    border-radius: 10px;
    width: 90%;
    height: 340px;

}



.mision p,
.vision p {
    text-align: justify;
    font-size: 23px;
    margin-bottom: 15px;
    width: 90%;
    margin: 0 auto;



}

.vision {
    width: 90%;

}



.vision h2 {
    text-align: center;
    font-size: 35px;
    margin: 15px auto;
    font-family: "quicksand", sans-serif;
    font-weight: 700;
    color: #3e5a80;

}

.mision h2 {
    text-align: center;
    font-size: 35px;
    margin: 15px auto;
    font-family: "quicksand", sans-serif;
    font-weight: 700;
    color: #3e5a80;




}

.mision p,
.vision p {
    line-height: 1.3;
    /* Ajusta el valor según sea necesario */
}