/* Estilos responsive para pantallas pequeñas (móviles) y tablets */
@media (max-width: 1024px) {
    .Contenedor-First {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(0, 530px);
        max-width: 100%;
        margin: 0 auto;
        overflow: hidden;
        padding: 0 3px;
        /* Asegura que no haya margen extra a los lados */
    }

    .hero {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 520px;
        overflow: hidden;
    }

    .container-hero img {
        width: 100%;
        height: auto;
    }

    #video-herocontent {
        width: 100%;
        height: 520px;
        object-fit: cover;
    }

    .hero> :nth-child(2) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 230px;
        width: 230px;
        margin: 0 auto;
        margin-top: 100px;
        background-color: rgba(0, 0, 0, 0.384);
    }

    .hero> :first-child {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        height: 530px;
        width: 100%;
    }

    /* Ajuste para las filas */
    .segunda-fila,
    .tercera-fila {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 500px);
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        overflow: hidden;
        padding: 0 10px;
        /* Ajusta el padding para evitar desbordamientos */
    }

    /* Asegurando que las imágenes y otros elementos dentro de las filas no se desborden */
    .Img-filados,
    .bento-section {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        padding: 0;
    }

    .Img-filados img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-width: 100%;
        max-height: 500px;
        margin-right: 0px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    .info-section p,
    .Contenido-ultimafila p {
        font-size: 32px;

    }

    .info-section h2,
    .parrafo-ultimafila {
        font-family: 'Quicksand', sans-serif;
        font-size: 33px;
    }

    .info-section h1,
    .Contenido-ultimafila h1 {
        font-family: 'Quicksand', sans-serif;
        font-size: 42px;
        margin: 15px auto;
    }
}