.auto-content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    max-width: 80%;
    padding-bottom: 20px;
    /* Ajusta este valor según tus necesidades */
    gap: 20px;

}




.auto-content-image img {
    width: 100%;
    min-width: 480px;
    max-width: 500px;
    height: auto;
    object-fit: contain;
}

.auto-content-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #101123;
    max-width: 100%;

}

.auto-content-text h1 {
    font-size: 35px;
    margin-bottom: 25px;
    color: #3e5a80;
    text-align: center;
}

.auto-content-text h2 {
    font-size: 1.5rem;
    color: #101123;
    text-align: center;

}

.auto-content-text p {
    font-size: 23px;
    color: #000000;
    text-align: center;
    margin-bottom: 10px;

}

@media (min-width: 768px) and (max-width: 1024px) {
    /* Estilos específicos para tablets */

    .auto-content-image img {
        width: 100%;
        min-width: 85px;
        height: auto;
        object-fit: contain;
    }

}

@media (max-width: 500px) {
    .auto-content-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 0 20px;
        justify-content: center;
        max-width: 100%;
        min-height: 380px;
    }





    .auto-content-image img {
        min-width: 380px;

    }

    .auto-content-text {
        max-width: 100%;
        padding: 0 30px;
        justify-content: justify;
    }

    .auto-content-text h1 {
        font-size: 35px;
        margin-bottom: 25px;
        color: #3e5a80;
        text-align: center;
    }

    .auto-content-text h2 {
        font-size: 1.5rem;
        color: #101123;
        text-align: center;

    }

    .auto-content-text p {
        text-align: justify;

    }
}